.item-container { 
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    height: 75px; 
    border: 1px solid lightgray; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

button { 
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.delete { 
    width: 60px;
}

.name { 
    padding: 20px;
}

.price {
    padding: 20px;
}

.qty { 
    padding: 20px;
}

.remove { 
    padding: 20px;
}